.form-group
  label(for="title") 제목
  input.form-control(type="text", name="title", placeholder="공모전 제목을 입력해주세요.", value=question.title)
.form-group
  label(for="question") 공모전 설명
  textarea.form-control(name="content", rows="5")= question.content
.form-group
  label(for="host") 주최사
  input.form-control(type="text",name="host", palceholder="주최사를 입력해주세요.", value=question.host)
.form-group
  label(for="area") 분야
  input.form-control(type="text", name="area", placeholder="분야를 입력해주세요.", value=question.area)
.form-group
  label(for="subject") 응시대상
  input.form-control(type="text",name="subject", palceholder="응시 대상을 입력해주세요.", value=question.subject)
.form-group
  label(for="period") 접수기간
  input.form-control(type="text",name="period", palceholder="접수기간을 입력해주세요.", value=question.period)
.form-group
  label(for="outline") 공모요강
  textarea.form-control(name="outline", rows="5")= question.outline
.form-group
  label(for="manager") 담당자
  input.form-control(type="text",name="manager", palceholder="담당자를 입력해주세요.", value=question.manager)
.form-group
  label(for="tel") 주최사
  input.form-control(type="text",name="tel", palceholder="연락처를 입력해주세요.", value=question.tel)

.form-group
  label(for="tags") 태그
  input.form-control(type="text", name="tags", placeholder="태그를 입력해주세요.", value=question.tags ? question.tags.join(" ") : "")
.form-group
  label(for='img') 이미지
  input#file.form-control(type="file")
  input#url.form-control(type="text", readonly="readonly", name="img", value=question.img)
  img#preview.img-fluid(src="https://dummyimage.com/200x200/ccc/fff")

script.
  $(fuction(){
    $("#preview").hide();
    $("#file").change(function(){
      var file = $("#file")[0].files[0];
      if (file) {
        var url = "/s3?filename=" + encodeURIComponent(file.name) + "&type=" + endocdURIComponent(file.type);
        console.log(url);
        $.getJASON(url, function(resp){
          console.log(resp.signedRequest);
          $.ajax({
            url: resp.signedRequest,
            method: 'PUT',
            data: file,
            headers: {'x-amz-acl': 'public-read', 'Content-Type':file.type},
            processData: false,
            contentType: file.type,
            success: function(){
              $("#preview").attr("src", resp.url).show();
              $("#url").val(resp.url);
            }
          });
        });
      }
    });
  });