ul
  li 분야 : 
    .area= question.area
  li 주최사 :
    .host= question.host
  li 응시대상 :
    .subject= question.subject
  li 접수 시작일 :
    .periodst= question.periodst
  li 접수 마감일 :
  .perioden= question.perioden
  li 공모요강 :
    .outline= question.outline
  li 담당자 :
    .manager= question.manager
  li 연락처 :
    .tel= question.tel   
  
.content= question.content

.tags.badges
  each tag in question.tags
    span.badge.badge-phill.badge-secondary= tag
    | 
.row
  .col-sm
    .numbers.
      #[span.number.num-likes= question.numLikes] 좋아요,
      #[span.number.num-hates= question.numHates] 싫어요,
      #[span.number.num-answers= question.numAnswers] 댓글,
      #[span.number.num-reads= question.numReads] 읽음
  .col-sm
    .author
      | #{moment(question.createdAt).format('YYYY-MM-DD')}
      if question.author
        | 
        | 작성자 #[a(href=`/users/${question.author.id}`)= question.author.name] 
